body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f0f4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  max-width: 900px;
  width: 100%;
}
.image-section {
  order:-1;
  position: relative;
  flex: 1;
  margin-top: -38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  overflow: hidden;

}

.laptop{
  width: 600px;
  margin-top: -200px;
  margin-left: 50px;
}
.form-section {
  flex: 1;
  margin-top: -40px;
  padding: 40px;
  width:70%;
  min-width: 100px;
}

.form-section h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 17px;
  align-items: center;
  text-align: center;
  
}

form {
  display: flex;
  height: 100%;
  width:90%;
  flex-direction: column;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
}

 form input {
  padding: 12px;
  border: 2px solid #b3c7f9; 
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}


form button {
  margin-left: 50px;
  margin-top: 25px;
  padding: 12px;
  background-color: #5b6eff;
  color: white;
  border: none;
  border-radius: 25px;
  width: 250px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

form button:hover {
  background: #4053e6;
  transform: translateY(-2px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

form button:active {
  transform: translateY(0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #4c5eff;
  text-decoration: none;
  font-weight: bold;
}

.success-message {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: green;
  font-weight: bold;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .image-section {
    display: none;
  }

  .form-section {
    padding: 20px;
  }
}